<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Landing Page</title>
</head>
<body >
 
  <h1 > Calcular el area de un cuadradro</h1>
 
  <p>
    Judith Maldonado Garcia <BR>
    S19004911<BR>
    ISW <BR>
    501<BR>
      
        <IMG src="images.jpg" width="400" height="400"></IMG>

  </p>
  <a href="*"> Calculadora </a>




  
</body>
</html>
<router-outlet></router-outlet>
