<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Landing Page</title>
</head>
<body >
  <div class="contenedorcentrado">
    <div class="titulo">
        Calcular Area de un Cuadrado 
    </div>
  
  </div>
  <div id="contenedor">
   
      
    <div id="contenedorcentrado">
        <div id="login">
            
          <p>
            Judith Maldonado Garcia 
            S19004911<BR>
            ISW <BR>
            501<BR>
            <button  title="Calculadora" name="Calculadora">Calculadora</button><br><BR>
        </div>
        <div id="derecho">
          <IMG src="https://okdiario.com/img/2018/12/09/perimetro-de-un-cuadrado.png" width="900" height="400">
           
        </div>
       
    </div>
    
  </div>
   <div>
    <app-ui>

    </app-ui>
   </div>
  
 



  
</body>
</html>
<router-outlet></router-outlet>
